.singleplayer-page {
  display: flex;
  justify-content: center;
  align-items: center;  

}
.main-game {
  width: 80%;
  color: var(--text-color);
  border-radius: 30px;
  padding: 30px;
  min-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Consolas, 'Courier New', monospace" !important;
  position: relative;

}

.game-square {
  padding: 20px;
  background-color: var(--game-input-box);
  min-height: 400px;
  max-height: 500px;
  border: 1px solid var(--text-color);
  overflow-y: auto;
}

.white {
  color: white !important;
}

.red {
  background-color: red !important;
  border-radius: 0px;
  color: white;
}

.green {
  color: rgb(63, 198, 63) !important;
}

.normal {
  color: var(--code-text) !important;
}

.highlight {
  color: var(--background-color) !important;
}

.hovered-lang {
  display: inline-block;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--game-input-box);
  width: 50px;
  min-height: 50px;
  border: 1px solid var(--text-color);
  border-bottom: 1px solid var(--game-input-box);
  padding-bottom: 3px;
}

.languages {
  display: flex;
  margin-bottom: -5px;
  position: inherit;
  z-index: 1;
  padding: 3px;
}

.regular-lang {
  display: inline-block;
}

.regular-lang:hover {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--hover-color);
  cursor: pointer;
  padding-bottom: 3px;
}

.enter-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
}

.timer {
  font-size: 30px;
  font-weight: 600;
  color: var(--button-hover)
}

.code-snippet {
  font-size: 20px !important;
}

.movable-player {
  position: inherit;
}

.game-looking {
  color: var(--text-color);
}

.game-timer {
  color: var(--text-color);
}