.main-game {
  width: 90%;
  color: var(--text-color);
  border-radius: 30px;
  padding: 30px;
  min-height: fit-content;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  
}

.white {
  color: white !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

.normal {
  color: var(--text-color) !important;
}